.loader {
  border: 8px solid rgb(74, 30, 170, 0.1);
  border-top: 8px solid #4a1eaa;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 6px 20px;
  border: 1px solid #ccc;
  text-align: center;
}

tr:nth-of-type(even) {
  background: rgb(74, 30, 170, 0.1);
}

th {
  background: #4a1eaa;
  color: #eee;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    text-align: left;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    word-wrap: break-word;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
  }

  td:nth-of-type(1):before {
    content: "First Name:";
  }
  td:nth-of-type(2):before {
    content: "Last Name:";
  }
  td:nth-of-type(3):before {
    content: "Date Created:";
  }
  td:nth-of-type(4):before {
    content: "Edit User:";
  }
  td:nth-of-type(5):before {
    content: "Lock User:";
  }
}

button {
  all: unset;
  padding: 4px;
  cursor: pointer;
  text-decoration: underline;
}

.locked {
  text-decoration: line-through;
}

#prev-btn,
#next-btn {
  margin: 0 20px;
}

.page-unavailable {
  color: slategray;
  text-decoration: none;
  cursor: default;
}
